@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.box{
    width: 320px;
    height: 100px;
    background: linear-gradient(to bottom right, rgb(131, 234, 241) 30%, rgb(99, 164, 255));
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
span{
    font-family: 'Italianno', cursive;
    font-size: 35px;
    color: white;
}
.bg{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: linear-gradient(to bottom right, rgb(248, 222, 127) 30%, rgb(217, 144, 88));
    z-index: -1;
    transition: 900ms;
}
.string{
    position: absolute;
    width: 10px;
    height: 160px;
    background: rgb(240, 239, 239);
    top: 0;
    right: -10px;
    border-radius: 0 10px 0 0;
    transition: 900ms;
}
.string-end{
    width: 16px;
    height: 24px;
    background: rgb(206, 206, 206);
    position: absolute;
    right: -13px;
    bottom: -84px;
    border-radius: 0 0 8px 8px;
    transition: 900ms;
}
.blind{
    width: 20px;
    height: 0px;
    position: absolute;
    background: linear-gradient(to right bottom, white, rgb(230, 230, 230) 80%);
    top: 0;
}
.box:hover .blind{
    height: 100px;
    transition: 100ms;
}
.box:hover .bg{
    filter: invert(100%) brightness(30%);
}
.box:hover .string{
    height: 120px;
}
.box:hover .string-end{
    bottom: -44px;
}
#b1{
    left: 0;
    transition: 150ms;
}
#b2{
    left: 20px;
    transition: 200ms;
}
#b3{
    left: 40px;
    transition: 250ms;
}
#b4{
    left: 60px;
    transition: 300ms;
}
#b5{
    left: 80px;
    transition: 350ms;
}
#b6{
    left: 100px;
    transition: 400ms;
}
#b7{
    left: 120px;
    transition: 450ms;
}
#b8{
    left: 140px;
    transition: 500ms;
}
#b9{
    left: 160px;
    transition: 550ms;
}
#b10{
    left: 180px;
    transition: 600ms;
}
#b11{
    left: 200px;
    transition: 650ms;
}
#b12{
    left: 220px;
    transition: 700ms;
}
#b13{
    left: 240px;
    transition: 750ms;
}
#b14{
    left: 260px;
    transition: 800ms;
}
#b15{
    left: 280px;
    transition: 850ms;
}
#b16{
    left: 300px;
    transition: 900ms;
}